
* {
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000;
}

body {
  margin: 0;
  background: transparent;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding: 10px;
}

.message-row {
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 90%;
  animation: fadeInUp 0.5s;
}

.username {
  color: #1DA1F2;
  font-weight: bold;
  font-size: 18px;
}

.user-message {
  font-size: 16px;
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.platform-icon {
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}
